@import '../../../stylesheets/_variables';

html {
  width: $full;
  height: $full;

  body {
    width: $full;
    height: $full;
    margin: 0;
    padding: 0;

    main.layout {
      position: relative;
      display: block;
      min-height: $fluid-full;
      overflow: hidden;
      background-color: $dark;

      // header

      header.header {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;

        .aspect {

          // logo

          &.logo {

            cursor: pointer;
            margin: $mini;
            padding: $mini;
            border: $atomic solid $primary-color;
            transition: all $fast;

            .logo {
              color: $primary-color;
              font-size: $tiny;
              text-decoration: none;
            }

            &:hover {
              background-color: $primary-color;

              .logo {
                color: $light;
              }
            }
          }
        }
      }

      // content

      .content {
        display: block;
        position: relative;
        overflow-y: auto;
        margin-bottom: $fluid-half;
        z-index: 1;
        background-color: $light;
        box-shadow: 0 0 $god 0 rgba($highlight-color, 0.75);

        .aspect {

          // posts

          &.posts {

            .post.figure {
              cursor: pointer;
              box-shadow: 0 0 $micro 0 rgba($secondary-color, 0.25);
              border: $atomic solid rgba($secondary-color, 0.25);
              background-image: $background-figure;
              text-align: center;
              transition: all $faster;

              .route.link {
                text-decoration: none;

                .title {
                  color: rgba($secondary-color, 0.75);
                  font-weight: 300;
                  text-transform: uppercase;
                  transition: all $faster;
                }

                .date {
                  margin: $mini auto;

                  .meta {
                    display: inline-block;
                    padding: $micro;
                    box-shadow: 0 0 $micro 0 rgba($secondary-color, 0.5);
                    text-transform: uppercase;
                    font-weight: 500;

                    &.date-start {
                      background-color: #cd571a;
                      color: #0F161E;
                    }

                    &.date-end {
                      background-color: #0F161E;
                      color: #cd571a;
                    }
                  }
                }

                .meta {

                  &.location,
                  &.players {
                    position: absolute;
                    bottom: 0;
                    margin: $mini;
                    padding: $tiny;
                    background: rgba($secondary-color, 0.10);
                    color: rgba($secondary-color, 0.5);
                    box-shadow: 0 0 $micro 0 rgba($secondary-color, 0.25);
                  }

                  &.left {
                    left: 0;
                  }

                  &.right {
                    right: 0;
                  }
                }
              }

              &:hover {
                box-shadow: 0 0 $mini 0 rgba($secondary-color, 0.5);
                border-color: $secondary-color;

                .route.link {

                  .title {
                    color: $secondary-color;
                  }
                }
              }

              &:active {
                box-shadow: 0 0 $tiny 0 $primary-color inset;
              }
            }
          }

          // toolbar

          &.toolbar {
            position: fixed;
            left: 0;
            bottom: 0;
            width: $full;
            padding: 0;
            z-index: 5;
            border-top: $quantum solid rgba($dark, 0.5);
            background-image: linear-gradient(rgba($secondary-color, 0), rgba($secondary-color, 0.5)), $background-halftone;
            text-align: center;

            .icon.button {
              margin: $mini;
            }
          }
        }
      }

      // footer

      footer.footer {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        height: $fluid-half;
        width: $full;
        z-index: 0;
        background-image: $background-footer;
        background-position: center center;
        background-size: cover;

        .aspect {

          // copyright

          &.copyright {
            padding: $tiny;
            text-align: center;

            .copyright {
              margin: 0;
              color: $neutral-color;
              font-size: $mini;

              .link {
                font-size: inherit;
              }
            }
          }
        }
      }
    }
  }
}
