@import '../../../stylesheets/_variables';

html {
  width: $full;
  height: $full;

  body {
    width: $full;
    height: $full;
    margin: 0;
    padding: 0;

    main.layout {
      position: relative;
      display: block;
      min-height: $fluid-full;
      overflow: hidden;
      background-color: $dark;

      header.header {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;

        .logo.aspect {
          cursor: pointer;
          margin: $mini;
          padding: $mini;
          background: rgba($secondary-color, 0.75);
          transition: all $fast;

          .logo {
            color: $light;
            font-size: $tiny;
            text-decoration: none;
          }

          &:hover {
            background: $secondary-color;
          }
        }
      }

      .content {
        display: block;
        position: relative;
        overflow-y: auto;
        margin-bottom: $fluid-half;
        z-index: 1;
        background-color: $light;
        box-shadow: 0 0 $god 0 rgba($highlight-color, 0.75);

        .postlist {
          padding: $large 0;

          ul {
            margin: 0 auto;
            padding: 0;
            list-style-type: none;

            li {
              margin: 0;
              padding: $base;
              text-align: center;
            }
          }
        }
      }

      footer.footer {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        height: $fluid-half;
        width: $full;
        z-index: 0;
        background: url('images/jumbo.jpg') no-repeat;
        background-position: center center;
        background-size: cover;

        .copyright.aspect {
          position: absolute;
          left: 0;
          bottom: 0;
          width: $full;
          padding: $mini;
          text-align: center;

          .copyright {
            margin: 0;
            color: $neutral-color;
            font-size: $mini;

            .link {
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}
