@import '../../../stylesheets/_variables';

html {
  width: $full;
  height: $full;

  body {
    width: $full;
    height: $full;
    margin: 0;
    padding: 0;

    main.layout {
      position: relative;
      display: flex;
      min-height: $fluid-full;
      flex-direction: column;
      overflow: hidden;

      header.header {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
      }

      .content {
        display: block;
        position: relative;
        flex: 1;
      }

      footer.footer {
        display: block;
        position: relative;
      }
    }
  }
}
